
/*
 This creates the white border around the main content area.
 And makes the app look like full screen.
 */
.MainBox{
  height: 95vh;
  padding: 20px;
  paddingX: 40px;
}

/*

 */
.MainGrid{
  height: calc(100% - 64px);
}

/*
 Height 100% is needed to display the Map.
 And overflow auto is needed to show the rounded borders.
 */
.MainMap{
  height: 100%;
  overflow: auto;
}